$main-color: #757575;
$accent-color: #2196f3;
$secondary-color: #212121;
$color-dark-theme: #ffffff;
$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$background-color: #2f303a;
$logo-color: #000000;
$footer-color: rgba(255, 255, 255, 0.6);
$team-background-color: #f5f4fa;
$social-link-color: #afb1b8;
$social-dark-theme: rgba(255, 255, 255, 0.1);
